FiveLittleStory/Temp/
FiveLittleStory/Library/
FiveLittleStory/ExportedObj/
FiveLittleStory/obj/
FiveLittleStory/.vs/

# Build results

FiveLittleStory/[Dd]ebug/
FiveLittleStory/[Rr]elease/
FiveLittleStory/x64/
FiveLittleStory/build/
FiveLittleStory/[Bb]in/
FiveLittleStory/[Oo]bj/
FiveLittleStory/[Bb]uild/
FiveLittleStory/[Bb]uilds/

*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

*.csproj
*.sln

